.place__title {
    grid-area: title;
    margin: 0;
    font-family: 'Inter', 'Helvetica Neue';
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    width: fit-content;
}


@media all and (max-width:900px) {
    .place__title {
        font-size: 52px;
    }

}
@media all and (max-width:768px) {
    .place__title {
        font-size: 42px;
    }

}

@media all and (max-width:620px) {
    .place__title {
        margin-left: 5%;
        min-width: 288px;
    }
}

@media all and (max-width:360px) {
    .place__title {
        font-size: 32px;
        margin-left: auto;
        margin-right: auto;
    }
}