.photo-grid {
    display: grid;
    max-width: 1184px;
    width: 95%;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(216px, 1fr));
    gap: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 92px;
}


@media screen and (max-width:1023px) {
    .photo-grid {
        margin-bottom: calc(92px - .5vw);
    }
}

@media all and (max-width:425px) {
    .photo-grid {
        margin-bottom: calc(92px - 8.8vw);
        width: 288px;
    }
}