.places {
    width: 80%;
    max-width: 984px;
    margin-left: auto;
    margin-right: auto;
}


@media all and (max-width:1024px) {
    .places {
        width: 90%;
        margin-bottom: 92px;
    }
}

@media all and (max-width: 620px) {
    .places {
        width: 100%;
        margin-bottom: 66px;
    }
}