.intro__list {
    margin-top: 0;
    font-family: 'Inter', 'Helvetica Neue';
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
