.footer__copyright {
    font-family: 'Inter', 'Helvetica Neue';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    padding-bottom: 24px;
    margin: 0;
}

@media all and (max-width:425px) {
    .footer__copyright {
        padding: 0;
        line-height: 1;
    }
}