.intro {
    margin-top: 92px;
    margin-bottom: 92px;
    margin-left: calc(48px + (100vw - 1024px)/2.4);
    max-width: 720px;
    display: flex;
    flex-direction: column;
}


@media screen and (min-width: 1281px){
    .intro {
        margin-left: 9%;
    }
}

@media screen and (min-width:1024px) and (max-width: 1279px) {
    .intro {
        width: 690px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .intro {
        margin-top: calc(92px - .4vw);
        margin-bottom: calc(92px - .4vw);
        margin-left: auto;
        margin-right: auto;
    }
}

@media all and (min-width:426px) and (max-width:767px) {
    .intro {
        margin-top: calc(92px - .5vw);
        margin-bottom: calc(92px - .5vw);
        margin-left: auto;
        margin-right: auto;
        width: calc(100vw - 10%);
    }
}

@media all and (max-width:425px) {
    .intro {
        margin-top: calc(92px - 8.8vw);
        margin-bottom: calc(92px - 8.8vw);
        max-width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
}