.cover__title {
    font-family: 'Inter';
    font-weight: 900;
    font-size: 72px;
    line-height: 1.2;
    max-width: 560px;
    min-height: 152px;
    text-align: center;
    margin: 0;
    text-decoration: none;
    color: #FFFFFF;
}

@media all and (max-width:620px) {
    .cover__title {
        font-family: 'Inter';
        font-weight: 900;
        font-size: 32px;
        max-width: 288px;
        min-height: 70px;
        margin-top:33px
    }
}