.header__lang-links {
    margin-right: 0;
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    width: 78px;
}

@media all and (max-width: 425px) {
    .header__lang-links {
        width: 62px;
    }
    
}