.place {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    grid-template-areas:
        "title website"
        "image paragraph";
    margin-bottom: 80px;
    column-gap: 40px;
    row-gap: 48px;
    width: 100%;
}

@media screen and (min-width: 1180px) {
    .place {
        grid-template-columns: repeat(2, 484px);
    }
}

@media all and (max-width: 620px) {
    .place {
        grid-template-areas:
            "title"
            "website"
            "image"
            "paragraph";
            row-gap: 32px;
    }
}