.intro__title {
    width: 100%;
    font-family: 'Inter', 'Helvetica Neue';
    font-weight: 900;
    font-size: 54px;
    line-height: 1.2;
    margin-bottom: 40px;
    margin-top: 0;
}

@media all and (max-width:425px) {
    .intro__title {
        font-size: 32px;
        height: 70px;
        min-width: 288px;
        margin-left: auto;
        margin-right: auto;
    }
}